@-webkit-keyframes altrclr{
  0%{
    background:white;
  }
  50%{
    background:green;
  }

  

}
@-webkit-keyframes altrclr2{
  0%{
    background:white;
  }
  50%{
    background:red;
  }
}

#a1{
  margin:2%;
  font-size:10px;
  background:red;
-webkit-animation: altrclr 0.8s infinite alternate;  
  -webkit-transform:scale(4);
}
#a2{
  margin:2%;
  font-size:10px;
  background:red;
-webkit-animation: altrclr2 0.3s infinite alternate;  
  -webkit-transform:scale(4);
}